h1{
    color: darkblue;
    background-color: gold;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 50px;
    /* text-decoration: line-through; 
    letter spacing px rem*/
    /* linethrough is for striking
    same property cant be used for same tag
     */
}
p{
    color:lightskyblue;
    background-color: color-mix(in hsl shorter hue, color percentage, color percentage);
    text-align: center;
    font-size: 30px;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    font-style: flex 1 1 auto;
    font-weight: 200;
    word-spacing: 2rem;


}
img{
    margin-left: 20%;

}
#Khushi{
    color: blueviolet;
    background:wheat;
    text-align: right;
}
/* TOP VALUE OF RGB IS 255 */
.A1{
    color: rgb(72, 6, 133);
    background:rgb(206, 186, 147);
    text-align: right;
    font-style: italic;

}
#K{
    /* padding is space between content and border */
    font-size: 30px;
    color: burlywood;
    background: plum;
    /* Intead of using three line we do it in one single line
    border-width: 2px;
    border-style: solid;
    border-color: black; */
    border: 20px dashed brown;
    /* padding: 10px; */
    padding-left: 10px;
    margin: 15px;
}
#N{
    /* text-align: center; */
    width: 550px;
    background-color: antiquewhite;
    color: black;
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 40px;
    border-left: 2px solid red;
    border-bottom: 2px dashed green;
    /* height: 20px; */
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 20px solid brown;
}
.square{
    height: 100px;
    width: 100px;
    border: 20px solid brown;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px
}